<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Im A gäjmer!</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Gäjmer näjm?</h1>
      <form action="/select_user" method="POST">
        <div class="form-group">
          <label for="username">Gäjmer</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Siv är upptaget!" required>
          <input type="hidden" name="user_id" id="user_id">
        </div>
        <button type="submit" name="action" value="add" class="btn btn-primary">Lägg till</button>        
      </form>
      <hr>
      <h2>Redan en Gäjmer</h2>
      <ul class="list-group">
        {% for user in users %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ user.name }}
            <div>
              <button class="btn btn-info btn-sm" onclick="editUser('{{ user.id }}', '{{ user.name }}')">Ändra</button>
              <form action="/select_user" method="POST" class="d-inline">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit" name="action" value="delete" class="btn btn-danger btn-sm">Döa</button>
              </form>
              <form action="/select_user" method="POST" class="d-inline">
                <input type="hidden" name="username" value="{{ user.name }}">
                <button type="submit" name="action" value="select" class="btn btn-success btn-sm">Välj</button>
              </form>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <script>
      function editUser(id, name) {
        document.getElementById('username').value = name;
        document.getElementById('user_id').value = id;
      }
    </script>
  </body>
</html>
